@import "variables";


body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

/* General */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-yellow: #f14d4d;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }

.inactive {
  display: none;
}

.bg-image {
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
	height: 100vh; 
	width: auto;
}


/* Navbar (general) */

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .menu {
    display: none;
  }
  .logo {
    width: 60px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-yellow);
    color: var(--hospital-yellow);
  }
  
  .cards-container {
    margin: 2.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
  }
  .product-card {
    width: 300px;
  }
  .product-card img {
    width: 300px;
    height: 300px;
    border-radius: 20px;

  }
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  .product-info figure {
    margin: 0;
  }
  .product-info figure img {
    width: 35px;
    height: 35px;
  }
  .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
  }
  .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
  }
  /**/
  @media (max-width: 640px) {
	.bg-image {
		background-repeat: no-repeat; 
		background-size: cover; 
		background-position: center; 
		height: auto; 
		width: auto;
	}
	.mask {
		padding: 30px 0;
	}
    .cards-container {
      grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
      width: 140px;
    }
    .product-card img {
      width: 140px;
      height: 140px;
    }
  }